body {
    color: #fff;
    background-color: #4B4453;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
}

#resultDiv {
    display: none;
}

.toast-body {
    color:#4B4453
}